<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Per aprire l'installazione dell'APK patchato. -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <!-- largeHeap: le due libMHS.so del gioco (54 e 37 MB) si caricano in memoria una alla volta. -->
    <application
        android:label="MHXR Patcher"
        android:icon="@mipmap/ic_launcher"
        android:largeHeap="true"
        android:allowBackup="false">

        <activity
            android:name=".app.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.file"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/percorsi" />
        </provider>
    </application>
</manifest>
